$colors: (
    core: (
      colornutral: (
        gray: (
          strong: (
            '900': "#0E1223",
            '100': "#8791B7",
            '800': "#151A2D",
            '200': "#6A749C",
            '50': "#9DA6CB",
            '400': "#384162",
            '600': "#242A46",
            '700': "#1B2037",
            '25': "#BCC3E3",
            '300': "#475175",
            '500': "#2F3757",
            positive: (
              '900': "#00481D",
            ),
          ),
          soft: (
            '500': "#667085",
            '50': "#F0F1F3",
            '600': "#59647A",
            '200': "#C2C6CE",
            '100': "#E0E2E7",
            gray: (
              soft: (
                '900': "#404A60",
              ),
            ),
            '25': "#FAFAFA",
            '300': "#A3A9B6",
            '400': "#858D9D",
            '700': "#525D73",
            '800': "#4A556C",
          ),
        ),
        white: (
          main: "#D42222",
        ),
        black: (
          '900': "#000000",
          '800': "#1A1A1A",
          '700': "#333333",
          '600': "#4D4D4D",
          '500': "#666666",
          '400': "#808080",
          '300': "#999999",
          '200': "#B3B3B3",
          '100': "#CCCCCC",
          '50': "#E6E6E6",
          '25': "#F2F2F2",
        ),
      ),
      colorbrand: (
        ballybet: (
          primary: (
            '900': "#AF0000",
            '500': "#EC0000",
            '600': "#E90000",
            '50': "#FDE0E0",
            '100': "#F9B3B3",
            '400': "#FF2B00",
            '800': "#D50000",
            '25': "#FFF1F1",
            '200': "#F68080",
            '300': "#F24D4D",
            '700': "#DF0000",
          ),
          secondary: (
            '500': "#362147",
            '600': "#200833",
            '50': "#E9E6EB",
            '100': "#D2CED6",
            '400': "#4D395C",
            '800': "#180627",
            '25': "#FBF5FF",
            '200': "#908499",
            '300': "#635270",
            '700': "#1C072E",
            '900': "#130420",
          ),
        ),
        jackpotjoy: (
          primary: (
            '900': "#0158DB",
            '500': "#0871D1",
            '600': "#0480E7",
            '50': "#E1F1FC",
            '100': "#B4DBF9",
            '400': "#1991EA",
            '25': "#F1F9FF",
            '200': "#82C4F5",
            '300': "#50ACF0",
            '700': "#0475E4",
            '800': "#036BE1",
          ),
          secondary: (
            '500': "#02A925",
            '600': "#029321",
            '50': "#E6FFEA",
            '100': "#CCFFD1",
            '400': "#33C450",
            '800': "#025A17",
            '25': "#E6FFEA",
            '200': "#99F8A5",
            '300': "#66DE7A",
            '700': "#02761C",
            '900': "#023D12",
          ),
        ),
        botemania: (
          primary: (
            '900': "#FD4D0A",
            '500': "#FE7D1E",
            '600': "#FE751A",
            '50': "#FFEFE4",
            '100': "#FFD8BC",
            '400': "#FE751A",
            '800': "#E36404",
            '25': "#FFF4EC",
            '200': "#FFBE8F",
            '300': "#FEA462",
            '700': "#FE6A16",
          ),
          secondary: (
            '600': "#2BA131",
            '500': "#02A925",
            '50': "#E7F5E8",
            '100': "#B3E5BE",
            '400': "#28B646",
            '800': "#018F16",
            '25': "#EFFCF0",
            '200': "#81D492",
            '300': "#4EC366",
            '700': "#299D2E",
            '900': "#017E0D",
          ),
        ),
        doublebubble: (
          primary: (
            '900': "#993766",
            '500': "#FF65AD",
            '600': "#E55A9B",
            '50': "#FFE6F5",
            '100': "#FFD1EB",
            '400': "#FF80BC",
            '800': "#B34378",
            '25': "#FDF0F8",
            '200': "#FFB6DB",
            '300': "#FF9BCC",
            '700': "#CC4E89",
          ),
          secondary: (
            '500': "#02A925",
            '600': "#029321",
            '50': "#E6FFEA",
            '100': "#CCFFD1",
            '400': "#33C450",
            '800': "#025A17",
            '25': "#ECFFEF",
            '200': "#99F8A5",
            '300': "#66DE7A",
            '700': "#02761C",
            '900': "#023D12",
          ),
        ),
      ),
      coloralerts: (
        positive: (
          '500': "#23C965",
          '600': "#08B94E",
          '50': "#E9FAF0",
          '25': "#F4FCF7",
          '100': "#D3F4E0",
          '200': "#A7E9C1",
          '300': "#7BDFA3",
          '400': "#4FD484",
          '700': "#02983E",
          '800': "#00732E",
        ),
        negative: (
          '500': "#FF554A",
          '600': "#E68041",
          '50': "#FFF3E9",
          '25': "#FFF8F2",
          '100': "#FFE9D3",
          '200': "#FFD9AC",
          '300': "#FFC18C",
          '400': "#FFA86B",
          '700': "#CC7037",
          '800': "#B3612E",
          '900': "#994F24",
        ),
        warning: (
          '500': "#FFC14A",
          '600': "#EBA622",
          '50': "#FFF9ED",
          '25': "#FFFCF6",
          '100': "#FFF3DB",
          '200': "#FFE6B7",
          '300': "#FFDA92",
          '400': "#FFCD6E",
          '700': "#D18A02",
          '800': "#9F6800",
          '900': "#5A3B00",
        ),
        info: (
          '500': "#0075FF",
          '600': "#0067E6",
          '50': "#E1EAF8",
          '100': "#CCE0FF",
          '200': "#99C3FF",
          '300': "#66A9FF",
          '400': "#338FFF",
          '700': "#0058CC",
          '800': "#0049B3",
          '900': "#003B99",
        ),
      ),
    ),
    theme: (
      registrationstepper: (
        progress: (
          color: (
            ballybet: "#00FF4F",
            jackpotjoy: "#00FF4F",
            botemania: "#00FF4F",
            doublebubble: "#00FF4F",
          ),
        ),
      ),
    ),
);